[user]
  name = Pi-Hsun Shih
  email = peter50216@gmail.com
[merge]
  tool = vimdiff
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[color]
  ui = true
[diff]
  tool = vimdiff
[push]
  default = current
[alias]
  ci = commit
  dt = difftool
  st = status -sb
  br = branch
  di = diff
  co = checkout
  cp = cherry-pick
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pa = add --patch
  pulll = pull
  pullll = pull
  pulllll = pull
  pullllll = pull
  pulllllll = pull
  pullllllll = pull
  pulllllllll = pull
  pullllllllll = pull
  pulllllllllll = pull
  pullllllllllll = pull
  pulllllllllllll = pull
  pullllllllllllll = pull
  pulllllllllllllll = pull
  pullllllllllllllll = pull
  pulllllllllllllllll = pull
  pullllllllllllllllll = pull
  pulllllllllllllllllll = pull
  pullllllllllllllllllll = pull
  pulllllllllllllllllllll = pull
  pullllllllllllllllllllll = pull
  pulllllllllllllllllllllll = pull
  pullllllllllllllllllllllll = pull
  pulllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pulllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll = pull
  pullllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll = pull
